@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    background : url("images/bg-pattern-bottom.svg")  bottom -600px right -150px no-repeat , url("images/bg-pattern-top.svg") top -500px left -200px no-repeat ;
    background-color: var(--Dark-cyan);
}

:root {
    --Dark-cyan: hsl(185, 75%, 39%) ;
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%) ;
    --Dark-gray: hsl(0, 0%, 59%) ;
}

img {
    max-width: 100%;
}

.container {
    width: 350px;
    margin: 120px auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.portrait {
    text-align: center;
    border-radius: 50%;
    margin: -60px 120px 0 120px;
    border: 4px solid white;
}

.name {
    text-align: center;
    color: var(--Very-dark-desaturated-blue);
    font-weight: 700;
    padding: 10px 0;
}

span {
    font-weight: 400;
    color: var(--dark-grayish-blue);
    padding-left: 5px ;
}

.state {
    color: var(--dark-grayish-blue);
    text-align: center;
    font-weight: 400;
    padding-bottom: 40px;
    border-bottom: 1px solid #d8d9df;
}

.statistics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px ;
    padding: 30px 0 25px 0 ;
}

.test .num {
    text-align: center;
    color: var(--Very-dark-desaturated-blue);
    font-weight: 700;
    padding-bottom: 10px;
}

.test .title {
    color: var(--dark-grayish-blue);
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
}

